.exp-image img {
    max-height: 100%;
    max-width: 4vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    max-height: 100%;
    max-width: 4vw;
    min-width: 4vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    /*white-space: nowrap;*/
}

.scrollable-card {
    display: inline-block;
}


.new.employment-history .heading#employment {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.new .exp-company {
    flex-grow: 0;
}

.work-exp-panel .simple-col {
    justify-content: center;
}

.new .work-exp-panel {
    background-color: rgba(255, 255, 255, .6) !important;
    font-size: 18px;
    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    /*height: 100%;*/
}

.new.employment-history #logo-row {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.logo-row {
    display: flex;
}

.new.employment-history #employment {
    /*width: 100%;*/
}

.new.employment-history #employment-span {
    /*flex: 2;*/
}

.new.employment-history #employment span {
    margin-left: 1rem;
    margin-right: 1rem;
}
