body {
  height: 100%;
  text-align: center;
  background: url('./dinos-horiz-opt.jpg');
  background-size: cover; /* Fill entire page */
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-repeat-y: no-repeat;
  background-color: black;
}

.base-page {
  margin-top: 165px;
}

/****************** MEDIA QUERIES FOR DIFFERENT SCREEN SIZES *****************/

@media (max-width: 767px) {
  .base-page {
    margin-top: 200px;
  }

  body {
    background-size: 200% auto;
  }
}
