.portrait {
  border-radius: 50%;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
}

.portrait-frame {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contact-panel {
  background-color: rgba(255, 255, 255, .6) !important;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: row;
  max-width: 85%;
  flex-wrap: wrap;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.fa.inner {
  color: white;
}

.btn-toolbar {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}

.contact-panel .btn {
  font-size: 18px;
}

.email {
  font-size: 20px;
  text-align: center;
}

.email a {
  color: #ab4455;
}

.info {
  margin-bottom: 25px;
  font-size: 20px;
}

/****************** MEDIA QUERIES FOR DIFFERENT SCREEN SIZES *****************/

@media (max-width: 767px) {

  .contact-panel {
    max-width: inherit;
  }

  .contact-panel .btn {
    font-size: 16px;
  }

  .btn {
    padding-right: 6px;
    padding-left: 6px;
  }
}
