.work-exp-panel {
  background-color: rgba(255, 255, 255, .6) !important;
  font-size: 18px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.work-exp-panel img {
  max-height: 100%;
  max-width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.exp-company {
  flex-grow: 1;
}

.exp-image {
  flex-grow: 1;
}

/****************** MEDIA QUERIES FOR DIFFERENT SCREEN SIZES *****************/

@media (max-width: 767px) {
  .work-exp-panel img {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
  }

  .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
}

/* Portrait phones and smaller */
@media (max-width: 547px) {
  .work-exp-panel {
    font-size: 16px;
  }


}
